@import "@/assets/base/breakpoints";

.underline{
  position: relative;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover{

    &:after{
      width: 100%;
      left: 0;
    }

  }

}

.underline-contrast{

  &:after {
    background: $contrast;
  }

}

.underline-secondary{

  &:after {
    background: $secondary;
  }

}

.hover-underline {
  color: $primary;
  text-decoration: none;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    border-bottom: 3px solid $primary;
    bottom: 0;
    left: 0;
    right: 0;
    transition: right .4s cubic-bezier(0,.5,0,1);
  }

  &:hover{

    &:after{
      right:100%;
    }

  }

}

.loading{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 50px;
    height: 50px;
    -webkit-animation: rotating 2s linear infinite;
  }
}
@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}


/* page navigation animation */
.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}

/* disable AOS on <1024 */

@include media('<ipad-pro'){
  [data-aos^=fade][data-aos^=fade],
  [data-aos^=zoom][data-aos^=zoom]
  {
    opacity: 1!important;
  }
  [data-aos=fade-right],
  [data-aos=fade-left],
  [data-aos=fade-up],
  [data-aos=fade-down],
  [data-aos=zoom-in],
  [data-aos=zoom-out]{
    transform: none!important;
  }
}
