.underline{
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;

    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover{
    &:after{
      width: 100%;
      left: 0;
    }
  }
}

.underline-contrast{
  &:after {
    background: $contrast;
  }
}

.underline-secondary{
  &:after {
    background: $secondary;
  }
}

.hover-underline {
  color: $primary;
  text-decoration: none;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border-bottom: 3px solid $primary;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
  &:hover{
    &:after{
      transform: scale(0);
      transition: all 0.2s ease-in-out;
    }
  }
}
