@import '~include-media/dist/_include-media.scss';

$mobile: 768px;
$ipad-pro: 1025px;
$laptop: 1440px;
$desktop: 1920px;
$breakpoints: (
  'mobile': $mobile,
  'ipad-pro': $ipad-pro,
  'laptop' : $laptop,
  'desktop': $desktop,
);
